<div>
 <article>
  <header>
    <h1>Welcome to the world of Azure Cloud at NFCU</h1>
  </header>
  <section>
    <p>What's there to learn about in Azure Cloud?</p>
    <ul>
      <li>
        Provide CI-CD support from Public Github, Enterprise Github, Azure Devops etc.
      </li>
      <li>
        Azure DevOps support docker container deployment
      </li>
      <li>
        Kubernetes can be used for the container management
      </li>
      <li>
        Provides great app management tool/dashboard<h3>Kudu</h3>
      </li>
      
    </ul>
  </section>
 </article>
</div>
