<div>
 <article>
  <header>
    <h1>Welcome to the world of Azure Cloud at NFCU</h1>
  </header>
  <section>
    <p>What's great about Angular?</p>
    <ul>
      <li>
        Angular allows us to create performant web applications using TypeScript.
      </li>
      <li>
        I can use the Angular CLI to create/interact with my Angular workspace.
      </li>
      <li>
        Making changes will automatically be shown on screen, thanks to the local development server!
      </li>
    </ul>
  </section>
 </article>
</div>
