body { background-color: #fce7f3;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 font-size: 2rem;
}

article {
    background-color: #a8d3d9; 
    padding: 1rem 1rem;
    color: #1f2937;
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
    box-shadow: 10px 10px #27a9db;
    border: 6px solid #72adc3;
    border-radius: 2rem;
    margin: 3rem 3rem;
}

header {
 text-decoration: underline;
}

ul {
 list-style: square;
}
